
    .form-row {
        display: flex;
        gap: 1em;
        align-items: baseline;
        margin: 0.5em;
    }
    
    .form-row label {
        width: 120px;
        margin-right: 0.5em;
        text-align: left;
      }
    
    .form-row input {
        flex: 1;
    }
    